<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.org">

	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>bugtrack</title>
	    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	</head>
	<body>
		<form action="/members/saved" th:object="${memberHTML}" method="POST">
			<div class="input-group mb-3">
			  <input th:field="${memberHTML.memberFname}" type="text" class="form-control" placeholder="First Name" aria-label="fname" aria-describedby="basic-addon1">
			</div>
			<div class="input-group mb-3">
			  <input th:field="${memberHTML.memberLname}" type="text" class="form-control" placeholder="Last Name" aria-label="lname" aria-describedby="basic-addon1">
			</div>
			<div>
				<button type="submit" class="btn btn-primary">Add</button>
			</div>
		</form>
	</body>
</html>
	